**for loop**

In [2]:
l = [1,2,3,4,5]
for i in l:
  print(i, type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>

In [3]:
l1 = ['datascience', 'aws', 'ml','nlp']
for i in l1:
    print(i)

datascience
aws
ml
nlp

In [4]:
for i in l1 :
    print(i)
else:
    print("if for loop is able to complete itself then only else will execute")

datascience
aws
ml
nlp
if for loop is able to complete itself then only else will execute

**Jump Statements in Python**

**1. break :**

break statements are used to break out of the current loop , and allow execution of the next statement after it as shown in the flowchart below:

In [5]:
for i in range(5):
    print(i)
    if i == 3:
        break

0
1
2
3

In [6]:
l1

['datascience', 'aws', 'ml', 'nlp']

In [7]:
for i in l1:
    if i == 'aws':

        break
    print(i)

else:
    print("execute this if for loop is able to complete itself")

datascience

**continue**

continue statement allows us to send the control back to the starting of the loop , skipping all the lines of code below in the loop. This is explained on the flow chart

In [8]:
for i in range(5):
    if i == 3 :
        continue
    print(i)

0
1
2
4

In [9]:
l1

['datascience', 'aws', 'ml', 'nlp']

In [10]:
for i in l1:
    if i == 'aws':
        continue
    print(i)

datascience
ml
nlp

In [11]:
for i in l1:
    if i == 'aws':
        continue
    print(i)
else:
    print("execute this if the for loop is able to complete itself")

datascience
ml
nlp
execute this if the for loop is able to complete itself

In [12]:
list(range(len(l1)))

[0, 1, 2, 3]

In [13]:
for i in range(len(l1)):
    print(l1[i])

datascience
aws
ml
nlp

In [14]:
l = [1,2,3,4,7,8,98]

In [15]:
sum(l)

123

In [16]:
result = 0
for i in l:
  result = result + i
print(result)

123

In [17]:
t = (1,2,3,4,4,5)

In [18]:
for i in t:
  print(i)

1
2
3
4
4
5

In [19]:
result = 0
for i in t :
    result = result + i
print(result)

19

In [20]:
s = {1,2,3,4,5,"nlp","datascience"}

In [21]:
for i in s :
    print(i)

1
2
3
4
5
nlp
datascience

In [22]:
s1 = "DataScience"

for i in s1:
    print(i)

D
a
t
a
S
c
i
e
n
c
e

**pass**

The pass statement is basically a null statement, which is generally used as a placeholder. it is used to prevent any code from executing in its scope.

In [23]:
for i in range(5):
    if i % 2 == 0:
        pass
    else:
        print(i)

1
3

**While loop**

This is used for executing set of statements within its block as long the associated loop condition is evalauted to True.

In [24]:
a = 1

while a <= 10:
    print(a)
    a = a + 1

1
2
3
4
5
6
7
8
9
10

In [25]:
count = 5
while count > 0:
    print(count)
    #count = count - 1
    count -=1

5
4
3
2
1

In [26]:
# sum up the number till some point
n = int(input("enter a number\n"))
starting_point = 0
counter = 1

while counter <=n:
    starting_point = starting_point + counter
    #counter = counter + 1
    counter +=1
print(starting_point)

enter a number
5
15

In [27]:
number = int(input("enter your number"))
factorial = 1

while number > 0:
    factorial = factorial*number
    number = number - 1
print("factorial of a number is :",factorial)

enter your number10
factorial of a number is : 3628800

In [28]:
number = int(input("enter the number:"))
a = 0
b = 1
counter = 0

while(counter < number):
  print(a)
  c = a + b
  a = b
  b = c
  counter = counter + 1

enter the number:4
0
1
1
2

In [29]:
a , b = 0 , 1

for i in range(10):
    print(a)
    c = a + b
    a = b
    b = c

0
1
1
2
3
5
8
13
21
34

In [30]:
s = 'Sunny'

In [31]:
s[::-1]

'ynnuS'

In [32]:
len(s)

5

In [33]:
reverse = ' '

length = len(s)

while(length > 0):
  reverse = reverse + s[length - 1]
  length = length - 1
print(reverse)

 ynnuS

In [34]:
n = int(input("enter a number "))
i = 1

while i <=20:
    result = n*i
    print(n,"*",i, "=",result)
    i +=1

enter a number 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
5 * 11 = 55
5 * 12 = 60
5 * 13 = 65
5 * 14 = 70
5 * 15 = 75
5 * 16 = 80
5 * 17 = 85
5 * 18 = 90
5 * 19 = 95
5 * 20 = 100

In [35]:
n = 5
i = 1
while i < n :
    print(i)
    i = i + 1
else :
    print('This will be executed once your while will complete it successfully ')

1
2
3
4
This will be executed once your while will complete it successfully

In [36]:
n = 5
i = 1
while i < n :
    print(i)
    if i == 3:
        break
    i= i + 1

else :
    print("This will be executed once your while will complete it succesfully")

1
2
3