In [2]:
s1 = "Hello"
s2 = "Rahul"

print(s1 + " " + s2)

s3 = s1 + s2

print(s3)

Hello Rahul
HelloRahul

In [3]:
s3 = s1 + " " + s2

print(s3)

Hello Rahul

In [4]:
s4 = "DataScience"
a = 10
c = s4 + a
print(c)

TypeError: can only concatenate str (not "int") to str

In [5]:
s4 = "DataScience"
a = "10"
c = s4 + a
print(c)

DataScience10

In [6]:
print(type(c))

<class 'str'>


**Python type Casting**
1. **Implicit casting** - In Implicit type casting, the python complier internally typecasts one variable into another type without the external action of the user.

2. **Explicit casting** - In explicit type casting, the user explicitly forces the complier to convert a variable from one type to another type.

In [7]:
# implicit type casting
num1 = 100
num2 = 10.02

c = num1 + num2

print(c)

110.02

In [8]:
print(type(c))

<class 'float'>

In [9]:
# Explicit Type casting

num = 123

print(str(num))

123

In [10]:
num = 1123

print(float(num))

1123.0

In [11]:
s4 = "DataScience"  #string data type
a = 10   #integer data type

c = s4 + str(a)

print(c)

DataScience10

In [12]:
# Float to Integer
var = 7.8
print(int(var))

7

In [13]:
# String functions

s = 'datascience'

print(s.upper())

DATASCIENCE

In [14]:
# making only the first letter of the entire sentence in capital
print(s.capitalize())

Datascience

In [15]:
str1 = "this is a data science community"
print(str1.capitalize())

This is a data science community

In [16]:
print(str1.title()) # making every first word of the given sentence in capital

This Is A Data Science Community

In [17]:
str = "HELLO"

print(str.lower())

hello

In [18]:
print(str.replace('HELLO','HI'))

HI

In [19]:
str4 = "one two three one two one four fifty fifty"

print(str4.count('one'))

3

In [20]:
first_day = "Monday"
second_day = "Tuesday"

print("First Day is {} and second day is {}".format(first_day, second_day))

First Day is Monday and second day is Tuesday

In [21]:
str2 = "day"

print(str2 * 5)

daydaydaydayday

In [26]:
str2+str(5)

TypeError: 'str' object is not callable

In [23]:
str2/7

TypeError: unsupported operand type(s) for /: 'str' and 'int'

**Relational Opertors in Python**
     
     1. == Is Equal To
     2. = Is Greater than or Equal to

     3. <= Is Less than Equal to
     4. Is Greater than

     5. < Is Less than
     6. != NotEqual to

In [27]:
10 == 10

10 == '10'

False

In [28]:
10 > 20

False

In [29]:
10 != 20

True

In [30]:
(2+3) >= (4+1)

True

**Boolean Operators in Python**

1. and - Return True if both operands are True , else False

2. or - Return True if one of the operands is true , else False

3. not - Return value opposite to the truth value of the expression

In [31]:
#and operator
print(True and False)

False

In [32]:
#or operator
print(True or False)

True

In [33]:
#not operator
print(not False)

True