**Logical Operators**

 Logical operators are used to combine conditional statements

1.  and : Return True if both statements are True

2.  or : Returns True if one of the statements is True

3.  not: Reverse the result, returns Flase if the result is true

**and**

In [1]:
birth_year = 1990

if birth_year > 1989 and birth_year < 1995 :
    print("You were born between 1990 and 1994")

You were born between 1990 and 1994

**or**

In [2]:
birth_year = 1990

if birth_year < 1980 or birth_year > 1989 :
    print("You were not born in 1980")

else:
    print("You were born in 1990")

You were not born in 1980

**not**

In [3]:
birth_year = 1990
if not birth_year == 1991:
    print("The year of birth is not 1991")

The year of birth is not 1991

**Loops Statements in Python**

Loops in Python are statements that allow us to perform a certain operation multiple times unless some condtitions is met.

**For Loops**

1. For Loops is used to iterate iterables like string , tuple , list etc and
   perform some opertaions as shown in the flowchart below:

2. In for loop we need use 'for' keyword

3. The for loop enables you to execute a code block multiple times

In [4]:
# Taking an example

years = [2005,2006,2007,2008,2009,2010]

for i in years:
    print(i)

2005
2006
2007
2008
2009
2010

In [5]:
years = [2005,2006,2007,2008,2009,2010]

for year in years:
    print(year)

2005
2006
2007
2008
2009
2010

**range() function**

1.  It is helpful to think of the range object of an orderred list.

2.  This loop format will iterate overall numbers from 0 to limit - 1.

3.  The below example prints numbers

In [6]:
for i in range(5):
    print(i)

0
1
2
3
4

In [7]:
# Take a range() function

print(range(5))
print(range(10))

range(0, 5)
range(0, 10)

In [8]:
years = [2005,2006,2007,2008,2009,2010]

for i in range(len(years)):
    print(years[i])

2005
2006
2007
2008
2009
2010

**For with range(start, end , step)**

In [9]:
for i in range(2,10,2):
    print(i)

2
4
6
8

In [10]:
for i in range(2,12,3):
    print(i)

2
5
8
11

In [11]:
# Changing the elements in the list
lang = ["Java","JavaScript", "C","C++","PHP"]

for i in range(len(lang)):
    print('Before language',i ,'is',lang[i])
    lang[i] = 'Python'
    print('After language',i ,'is',lang[i])

Before language 0 is Java
After language 0 is Python
Before language 1 is JavaScript
After language 1 is Python
Before language 2 is C
After language 2 is Python
Before language 3 is C++
After language 3 is Python
Before language 4 is PHP
After language 4 is Python

In [12]:
# take the numbers between -3 and 6 using for loop
#using range() function

for i in range(-3,7):
    print(i)

-3
-2
-1
0
1
2
3
4
5
6

In [13]:
l = [1,2,3,45]

In [14]:
l[0] = 100

In [15]:
l

[100, 2, 3, 45]

In [21]:
l2 = []
for i in l:
    l2.append(i+1)
    print(i+1)
print(l2)

101
3
4
46
[101, 3, 4, 46]

In [22]:
l1 = [2,3,4,5,56,6,76]

In [23]:
l2 = []
for i in l1:
    l2.append(i+1)
    print(i+1)
print(l2)

3
4
5
6
57
7
77
[3, 4, 5, 6, 57, 7, 77]

In [24]:
for ak in "akshat":
    print(ak)

a
k
s
h
a
t

In [25]:
dict1 = {'a':'ankit','b':'bhuvan', 'c':'chandan'}
len(dict1.items())

3

In [26]:
dict1

{'a': 'ankit', 'b': 'bhuvan', 'c': 'chandan'}

In [27]:
keys = []
values = []

for item in dict1.items():
    keys.append(item[0]), values.append(item[1])

print("keys: ", keys)
print("values : ", values)

keys:  ['a', 'b', 'c']
values :  ['ankit', 'bhuvan', 'chandan']

In [28]:
d6 = {'launch_date':{12,14,28}, 'class_time':{'web_dev':8, 'DataScience':8, 'Java':7}, 'mentor':['udemy','youtube','coursersa','Navin']}

In [29]:
d6

{'launch_date': {12, 14, 28},
 'class_time': {'web_dev': 8, 'DataScience': 8, 'Java': 7},
 'mentor': ['udemy', 'youtube', 'coursersa', 'Navin']}

In [30]:
d6.fromkeys([3,4,5,6]) #Create a new dictionary with keys from iterable and values set to value.

{3: None, 4: None, 5: None, 6: None}

In [31]:
d6

{'launch_date': {12, 14, 28},
 'class_time': {'web_dev': 8, 'DataScience': 8, 'Java': 7},
 'mentor': ['udemy', 'youtube', 'coursersa', 'Navin']}

**nested for loop**

In [32]:
num = int(input("enter a number\n"))

print(f'The entered number is:{num}.')

i,j = 0,0
for i in range(0,num):
    print(i)

    for j in range(0,i+1):
        print(j)

enter a number
4
The entered number is:4.
0
0
1
0
1
2
0
1
2
3
0
1
2
3

In [33]:
for i in range(1,6):
  for j in range(1,11):
    result = i * j
    print(f"{i} * {j} = {result}")

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50