**Comprehensions in Python**

**List Compreshensions** :

 It is a shorter syntax to create a new list using values of an existing list.

In [1]:
l = [1,2,3,4,5]
l1 = []
for i in l:
    l1.append(i**2)
print(l1)

[1, 4, 9, 16, 25]

In [2]:
[(i**2) for i in l]

[1, 4, 9, 16, 25]

In [3]:
a = [0,1,2,3]
b = [i+1 for i in a]
print(b)

[1, 2, 3, 4]

In [4]:
[i for i in l if(i % 2 == 0)]

[2, 4]

In [5]:
l1 = ['aws','nlp','ml','genai','data science masters']

In [6]:
[i.upper() for i in l1]

['AWS', 'NLP', 'ML', 'GENAI', 'DATA SCIENCE MASTERS']

In [7]:
l

[1, 2, 3, 4, 5]

In [8]:
list((i**2 for i in l))

[1, 4, 9, 16, 25]

**Set Comprehensions**

It is a shorter synatx to create a new set using values of an existing set.

In [9]:
a = {0,1,2,4,6}
b = {i ** 2 for i in a}
b

{0, 1, 4, 16, 36}

**Dict Comprehensions**

It is a shorter synatx to create a new dictionary using values of an existing dictionary.

In [10]:
a = {'Hello':'World','First':1}
{val:k for k,val in a.items()}

{'World': 'Hello', 1: 'First'}

In [11]:
d = {"key1":1 ,"key2":2, "key3":3,"key4":4}

In [12]:
{k:v**2 for k,v in d.items()}

{'key1': 1, 'key2': 4, 'key3': 9, 'key4': 16}

In [13]:
d.items()

dict_items([('key1', 1), ('key2', 2), ('key3', 3), ('key4', 4)])

In [14]:
d

{'key1': 1, 'key2': 2, 'key3': 3, 'key4': 4}

In [15]:
{k:v for k,v in d.items() if v > 1}

{'key2': 2, 'key3': 3, 'key4': 4}