**Tuples**

1. Tuples is similar to List except that that the objects in tuple are  
  immutable which means we cannot change the elements of a tuple once assigned.

2. Tuples are enclosed with in parenthesis ()

3. Tuples are orderd , indexed, slicing.

4. Tuples can store duplicate values. When we do not want to change the data over time , tuple is a preferred data type.

5. Iterating over the elements of a tuple is faster compared to list

In [1]:
# empty tuple

tup1 = ()

print(tup1)

print(type(tup1))

()
<class 'tuple'>

In [2]:
tup2 = (10,30,60)

print(tup2)

print(type(tup2))

(10, 30, 60)
<class 'tuple'>

In [3]:
# tuples can have elements of same or different types

tup3 = ('one', 'datascience',20,30,4.6,True)

print(tup3)

print(type(tup3))

('one', 'datascience', 20, 30, 4.6, True)
<class 'tuple'>

In [4]:
tup4 = ('ml','nlp',['java','python','java-script',1],True)

print(tup4)

print(type(tup4))

('ml', 'nlp', ['java', 'python', 'java-script', 1], True)
<class 'tuple'>

In [5]:
len(tup4)

4

In [6]:
#indexing
tup4[0]

'ml'

In [7]:
tup4[-1]

True

In [8]:
tup4[0][0]  #Nested Indexing - Access the first character of the first tuple element

'm'

In [9]:
#SLICING
tup3

('one', 'datascience', 20, 30, 4.6, True)

In [10]:
tup3[1:4]

('datascience', 20, 30)

In [11]:
tup3[:2]

('one', 'datascience')

In [12]:
tup2*3

(10, 30, 60, 10, 30, 60, 10, 30, 60)

In [13]:
del tup7[3]

NameError: name 'tup7' is not defined

In [15]:
tup7 = (10,10,20,67,89)
tup7

(10, 10, 20, 67, 89)

In [16]:
tup7.count(10)

2

In [17]:
tup7.index(10)

0

In [18]:
tup_new = (200,78,98,9,67,13)

In [19]:
sorted_tuple = sorted(tup_new)

print(sorted_tuple)

print(type(sorted_tuple))

[9, 13, 67, 78, 98, 200]
<class 'list'>

In [20]:
sorted(sorted_tuple, reverse = True)

[200, 98, 78, 67, 13, 9]

In [21]:
tup_new

(200, 78, 98, 9, 67, 13)

In [22]:
highest_value = tup_new[0]
highest_value

200

In [23]:
lowest_value = tup_new[-1]
lowest_value

13

In [24]:
l_new = [200,78,98,9,67,13]

In [25]:
print(l_new)

[200, 78, 98, 9, 67, 13]

In [26]:
l_new.sort()

In [27]:
l_new

[9, 13, 67, 78, 98, 200]

**Sets**

1. Sets are unordered, but you can remove the items and add new items.

2. Set elements are unique.Duplicate elements are not allowed.

3. Set itself is mutable. We can add or remove items from it.

4. Set elements are immutable (cannot be changed)

In [28]:
x = {}  #empty set

print(type(x))

<class 'dict'>

In [29]:
# first method to define a sets
y = {1,2,5,6}
print(type(y))

<class 'set'>

In [30]:
# 2nd method to define a set
z = set()   #set function
print(type(z))

<class 'set'>

In [31]:
set1 = {'Hello Python!',3.14,1.618,'datascience',3.14,1.618, True, False, 2024}
set1

{1.618, 2024, 3.14, False, 'Hello Python!', True, 'datascience'}

In [32]:
set1.add('DataSciLearn')
set1

{1.618,
 2024,
 3.14,
 'DataSciLearn',
 False,
 'Hello Python!',
 True,
 'datascience'}

In [33]:
x_set = {6,7,8,9}
print(x_set)

x_set.update({3,4,5})

print(x_set)

{8, 9, 6, 7}
{3, 4, 5, 6, 7, 8, 9}

In [34]:
set1.remove('Hello Python!')

print(set1)

{False, 1.618, True, 3.14, 2024, 'DataSciLearn', 'datascience'}

In [36]:
set1.discard(3.14)  #It leaves the set unchanged to be deleted is not avaiable in the set


print(set1)

{False, 1.618, True, 2024, 'DataSciLearn', 'datascience'}

In [37]:
set1[1]

TypeError: 'set' object is not subscriptable

In [38]:
# set function

l = [10,20,20,'ml','ml', 'HelloPython', 'Master']

# convert the list to set
print(set(l))

{'HelloPython', 10, 'ml', 20, 'Master'}

In [39]:
l1 = [10,12,13,10,20,14,67,89,56,76]

# remove all duplidate
# 2nd highest and 2nd lowest

new_list = set(l1)
print(new_list)

{67, 10, 12, 13, 14, 76, 20, 56, 89}

In [40]:
#type conversion
new_list_out=list(new_list)

In [41]:
print(new_list_out)

[67, 10, 12, 13, 14, 76, 20, 56, 89]

In [42]:
new_list_out.sort()

In [43]:
print(new_list_out)

[10, 12, 13, 14, 20, 56, 67, 76, 89]

In [44]:
second_highest = new_list_out[-2]
print(f"The second highest element is:{second_highest}")

The second highest element is:76

In [45]:
# Union , Intersection
# x = {1,2,3}
# y = {4,5,3}
# AUinonB = { 1,2,3,4,5}
# AIntersectionB = {3}

#shortcut : If we have 4 or more lines and if we want to comment that lines we use shortcut ctrl+/

In [46]:
set1 = set(['Hello Python!',3.14,1.618,'Hello World'])
set2 = set([3.14,1.618,True,False,2024])

print(set1,set2)

{1.618, 3.14, 'Hello Python!', 'Hello World'} {False, 1.618, True, 3.14, 2024}

In [47]:
# To find the intersect of two sets using &

intersection = set1&set2
intersection

{1.618, 3.14}

In [48]:
# To find the intersect of two sets , use intersetion() function
set1.intersection(set2)

{1.618, 3.14}

In [49]:
#union function
set1.union(set2)

{1.618, 2024, 3.14, False, 'Hello Python!', 'Hello World', True}

In [50]:
set1.difference(set2)

{'Hello Python!', 'Hello World'}

In [51]:
# min(), max() and sum() function

A = [1,1,2,2,3,3,3,4,4,5,5]
B = {1,1,2,2,3,3,4,4,5,5}
print('The minimum number of A is', min(A))
print('The minimum number of B is', min(B))
print('The maximum number of A is', max(A))
print('The maximum number of B is', max(B))
print('The sum of A is', sum(A))
print('The sum of B is', sum(B))

The minimum number of A is 1
The minimum number of B is 1
The maximum number of A is 5
The maximum number of B is 5
The sum of A is 33
The sum of B is 15

**No mutable sequence in a set**

A set can not have a mutable elements such as list or dictionary in it. If any , it return error as follow:

In [52]:
set6 = {'Python',1,2,3,[1,2,3]}
set6

TypeError: unhashable type: 'list'

In [53]:
# index function
set7 = {1,2,3,4}
set7[1]

TypeError: 'set' object is not subscriptable

In [54]:
set7 = {1,2,3,4}
set7.pop()

1

In [55]:
set7

{2, 3, 4}

In [56]:
set7.pop(2)

TypeError: set.pop() takes no arguments (1 given)