**Introduction to Python**

Python is one of the most popular programming language. It was invented by Guido Van Rossum in the year 1991.

It is used for:

1. Web Development

2. Software Development

3. Data Science

4. System Scripting

In [1]:
print("This is my youtube channel named datascilearn")

This is my youtube channel named datascilearn

In [2]:
print('Data Science is a very demanding technology')

Data Science is a very demanding technology

In [4]:
print('Gen - AI')

Gen - AI

**Variable**

In [5]:
a = "Data Science"

print(a)

Data Science

In [6]:
a = 3 + 4

print(a)

7

In [7]:
a = "This is a data science channel to gain knowledge in AI"

print(a)

This is a data science channel to gain knowledge in AI

In [8]:
a = 'Mohit Kumar'

print(a)

Mohit Kumar

In [9]:
x = 10

y = 'Data Scilearn'

print(x)

print(y)

10
Data Scilearn

In [10]:
a = "Machine Learning"

print(a)

Machine Learning

In [11]:
x = 5

x = 'AI'

print(x)

AI

In [12]:
# Strings

# It is a sequence of characters.

n = 'Parag Pujari'

print(n)

Parag Pujari

In [13]:
# integer -- int
a= 2
b= 5
print(a * b)

10

In [14]:
c = 2.345656
b = 2.4445

s = c + b

print(s)

4.790156

In [15]:
if (4 > 7):
  print('Four is greater than seven')

In [16]:
bool_1 = True
type(print(bool_1))

True

NoneType

In [17]:
print(type(n))

<class 'str'>

In [18]:
print(type(a))

<class 'int'>

In [19]:
type(s)

float

**Comments:**

It is used to explain the line of code.

In [20]:
#This is a comment
print("Welcome to Our Youtube Channel Day 01")

Welcome to Our Youtube Channel Day 01

In [21]:
#print function is used to display a line
print("Data Science master")

Data Science master

In [22]:
# Multi line comment

print(
'''
This is a Data Science Crash Course with Gen AI
The Duration of this course is 8-9 months
In this course we will each and evry topic from scratch
'''
)

This is a Data Science Crash Course with Gen AI
The Duration of this course is 8-9 months
In this course we will each and evry topic from scratch

In [23]:
Area1 = 23
print(area1)

NameError: name 'area1' is not defined

In [24]:
age = 23
print(Age)

NameError: name 'Age' is not defined

In [25]:
my_name1 = 'john'
my_name2 = 'John'

print(my_name1)
print(my_name2)

john
John

In [26]:
# Boolean
print(10>9)
print(10==9)
print(10<9)

True
False
False

In [27]:
a = 10 > 7
type(print(a))

True

NoneType

In [28]:
if 4 > 7:
    print("Four is greater than 7")
else:
    print("Four is not greater than 7")

Four is not greater than 7