**Lists:**

Lists are used to store multiple items in a single variable.

1. List can contains any arbitary objects.

2. Nested List

3. Lists are mutuable as we can change the items in a lists.

4. We can have different data types under a list eg we can have integer, float
   and string items in a same list.

5. Lists are mutable i.e object or variable to be changed or modified after its
   creation.

6. We can two lists.

7. Lists are ordered.

In [1]:
# creation of lists

example = ['Sunday','Monday','Tuesday']

print(example)

['Sunday', 'Monday', 'Tuesday']

In [2]:
# empty lists

lists = []

print(lists)

[]

In [3]:
# lists can have elements of different types.

l = [10, 20.7, 'DataScience', "Machine Learning"]

print(l)

print(type(l))

[10, 20.7, 'DataScience', 'Machine Learning']
<class 'list'>

In [4]:
l1 = ['python', 3.14, 2002,[1,1,2,3,4,5,6,7,1,9]]

print(l1)

print(type(l1))

['python', 3.14, 2002, [1, 1, 2, 3, 4, 5, 6, 7, 1, 9]]
<class 'list'>

In [5]:
l2 = [10, 20, True]

print(l2)

print(type(l2))

[10, 20, True]
<class 'list'>

In [6]:
# length of the lists

print(len(l2))

3

In [7]:
l2[0]

10

In [8]:
l2[3]

IndexError: list index out of range

In [9]:
l2[2]

True

In [10]:
example = ['Sunday', 'Monday','Tuesday', 'Wednesday']

print(example)

['Sunday', 'Monday', 'Tuesday', 'Wednesday']

In [11]:
print(example[0:2])

['Sunday', 'Monday']

In [12]:
print(example[0:3])

['Sunday', 'Monday', 'Tuesday']

In [13]:
print(example[-2])

Tuesday

In [14]:
print(example[0:3])

['Sunday', 'Monday', 'Tuesday']

In [15]:
print(example[0:4:2])

['Sunday', 'Tuesday']

In [16]:
print(example[-3:-1])

['Monday', 'Tuesday']

In [17]:
print(example[::-1])

['Wednesday', 'Tuesday', 'Monday', 'Sunday']

In [18]:
example = ['Sunday', 'Monday','Tuesday', 'Wednesday']

print(example)

example[0] = 'Saturday'

print(example)

['Sunday', 'Monday', 'Tuesday', 'Wednesday']
['Saturday', 'Monday', 'Tuesday', 'Wednesday']

In [19]:
s ='dsskills' #string
l   #list

print(s + l)

TypeError: can only concatenate str (not "list") to str

In [20]:
print(list(s) + l)

['d', 's', 's', 'k', 'i', 'l', 'l', 's', 10, 20.7, 'DataScience', 'Machine Learning']

In [21]:
a = ["machine learning", 'data sciene', 'deep learning']
b = [10, 20, 3.14, "Gen AI"]

print(a)

print(b)


print(type(a))

print(type(b))

['machine learning', 'data sciene', 'deep learning']
[10, 20, 3.14, 'Gen AI']
<class 'list'>
<class 'list'>

In [22]:
print(a + b)

['machine learning', 'data sciene', 'deep learning', 10, 20, 3.14, 'Gen AI']

In [23]:
l4 = a + b


print(l4)

['machine learning', 'data sciene', 'deep learning', 10, 20, 3.14, 'Gen AI']

In [24]:
type(l[2])

str

In [25]:
l4[-2]

3.14

In [26]:
l4 * 3

['machine learning',
 'data sciene',
 'deep learning',
 10,
 20,
 3.14,
 'Gen AI',
 'machine learning',
 'data sciene',
 'deep learning',
 10,
 20,
 3.14,
 'Gen AI',
 'machine learning',
 'data sciene',
 'deep learning',
 10,
 20,
 3.14,
 'Gen AI']

In [27]:
l = [1 , 345, 45 , 'ai', True , (3+6j), 34.98]
print(l)

l.append(5)

[1, 345, 45, 'ai', True, (3+6j), 34.98]

In [28]:
print(l)

[1, 345, 45, 'ai', True, (3+6j), 34.98, 5]

In [29]:
l.append(example)

In [30]:
print(l)

[1, 345, 45, 'ai', True, (3+6j), 34.98, 5, ['Saturday', 'Monday', 'Tuesday', 'Wednesday']]

In [31]:
l.extend(4)  #Extend list by appending elements from the iterable.

TypeError: 'int' object is not iterable

In [32]:
l.extend('rahul')

In [33]:
print(l)

[1, 345, 45, 'ai', True, (3+6j), 34.98, 5, ['Saturday', 'Monday', 'Tuesday', 'Wednesday'], 'r', 'a', 'h', 'u', 'l']

In [34]:
l.extend([20,50,60])

In [35]:
print(l)

[1, 345, 45, 'ai', True, (3+6j), 34.98, 5, ['Saturday', 'Monday', 'Tuesday', 'Wednesday'], 'r', 'a', 'h', 'u', 'l', 20, 50, 60]

In [36]:
l = ['datascience', 'aws','azure',1, True]

print(l)

['datascience', 'aws', 'azure', 1, True]

In [37]:
l.extend(4)

TypeError: 'int' object is not iterable

In [38]:
l.extend([10,20,4])

print(l)

['datascience', 'aws', 'azure', 1, True, 10, 20, 4]

In [39]:
l.extend(False)

TypeError: 'bool' object is not iterable

In [40]:
l.extend('ML')

In [41]:
print(l)

['datascience', 'aws', 'azure', 1, True, 10, 20, 4, 'M', 'L']

In [42]:
l.insert(1,'cloud')

In [43]:
print(l)

['datascience', 'cloud', 'aws', 'azure', 1, True, 10, 20, 4, 'M', 'L']

In [44]:
l.insert(2,[2,3,4])

In [45]:
print(l)

['datascience', 'cloud', [2, 3, 4], 'aws', 'azure', 1, True, 10, 20, 4, 'M', 'L']

In [47]:
l.insert(-1,45)

In [48]:
print(l)

['datascience', 'cloud', [2, 3, 4], 'aws', 'azure', 1, True, 10, 20, 4, 'M', 45, 45, 'L']

In [49]:
l.insert(0,45)

In [50]:
print(l)

[45, 'datascience', 'cloud', [2, 3, 4], 'aws', 'azure', 1, True, 10, 20, 4, 'M', 45, 45, 'L']

In [51]:
l.index('datascience')

1

In [52]:
l.index('azure')

5

In [53]:
l.pop(3)  #Remove and return item at index (default last).

[2, 3, 4]

In [54]:
l

[45,
 'datascience',
 'cloud',
 'aws',
 'azure',
 1,
 True,
 10,
 20,
 4,
 'M',
 45,
 45,
 'L']

In [55]:
l.pop(-1)

'L'

In [56]:
l

[45, 'datascience', 'cloud', 'aws', 'azure', 1, True, 10, 20, 4, 'M', 45, 45]

In [57]:
l.pop()

45

In [58]:
l

[45, 'datascience', 'cloud', 'aws', 'azure', 1, True, 10, 20, 4, 'M', 45]

In [59]:
l.remove(1) # delete a given element from the list

In [60]:
l

[45, 'datascience', 'cloud', 'aws', 'azure', True, 10, 20, 4, 'M', 45]

In [61]:
l.remove(234)
l

ValueError: list.remove(x): x not in list

In [62]:
l.reverse()

In [63]:
print(l)

[45, 'M', 4, 20, 10, True, 'azure', 'aws', 'cloud', 'datascience', 45]

In [64]:
l2 = [45,23,90,0,3,4,5,7,8,9]

print(l2.sort(reverse = True))

None

In [65]:
print(l2)

[90, 45, 23, 9, 8, 7, 5, 4, 3, 0]

In [66]:
l3 = [34, 'machinelearning',45,11,'NLP']

print(l3.sort())

TypeError: '<' not supported between instances of 'str' and 'int'

In [67]:
l4 = ['cloud','web','deeplearning','devops','google']

print(l4.sort())

None

In [68]:
l4.count('web')

1

In [69]:
l5 = [3,4,5,6]

s ='nlp'

s[0] ='a'

TypeError: 'str' object does not support item assignment

In [70]:
l5[0]=30

In [71]:
l5

[30, 4, 5, 6]

In [72]:
s.replace('n','m')

'mlp'

In [73]:
print(s)

nlp